
/* conteúdo */
.content {
    height: 100vh;
    width: 100%;
}
.body {
    display:grid;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 90px;
    text-align: center;
}
#home-page {
    width: 550px;
    margin-top: 30px;
    height: auto;
}
#titulo {
    text-align:center;
    margin: 10px auto;
    background-color: black;
    color: white;
    font-size: 30pt;
}
@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
#titulo:after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}
#home-page p {
    text-align: justify;
}

#about {
    width: 550px;
    margin-top: 30px;
    height: auto;
    display: none;
}
#about h1{
    text-align: center;
    margin: 10px;
}
#about p {
    text-align: justify;
}

#founders {
    width: 550px;
    margin-top: 30px;
    height: auto;
    display: none;
}
#founders h1{
    text-align: center;
    margin: 10px;
}
#founders p {
    text-align: justify;
}

#archives {
    width: 550px;
    margin-top: 30px;
    height: auto;
    display: none;
}
#archives h1{
    text-align: center;
    margin: 10px;
}
#archives p {
    text-align: justify;
}

p {
    line-height: 25px;
    word-spacing: 3px;
    color: rgb(0,0,0);
}
h1, h2 {
    color: rgb(0,0,0);
}
