
/* cabeçalho do bagulho */
@media only screen and (max-width: 600px) {
    .header-mid {
        display: none;
    }
    .header-mid img {
        display: none;
    }
}
@keyframes expand {
    from{transform: scale(1.0);}
    to{transform: scale(1.2);}
}
@keyframes dexpand {
    from{transform: scale(1.0);}
    to{transform: scale(0.8);}
}

.header-mid {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 10px;
    left: 47%}
.header-wrap {
    display: flex;
    justify-content: center;
    position: fixed;
    height: 70px;
    width: 100vw;
    top: 0px;
    left: 0px;
    box-shadow: 0 0 30px rgb(214, 214, 214);
    background-color: white;
}
.header {
    display: flex;
    align-items: center;
    width: 95%;
    height: 70px;
}
.header-start {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.header-start img {
    margin: 0px;
}
.header-end {
    display: flex;
    justify-content: end;
    width: 100%;
}
.header-end a {
    padding-left: 25px;
}
.header img {
    filter: opacity(90%);
}

/* animações */
#yt:hover {
    animation: expand 0.3s forwards;
}

#twt:hover {
    animation: expand 0.3s forwards;
}

#spotify:hover {
    animation: expand 0.3s forwards;
}
#bompa-icon:hover{
    animation: dexpand 0.3s forwards;
}
